body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://media.istockphoto.com/id/2118123302/zh/%E5%90%91%E9%87%8F/cats-and-dogs-approve.jpg?s=2048x2048&w=is&k=20&c=mK_637Tb-v1l8cjfQaNmeC74f5nXTS5REgT1jpaxc_0=);
    background-size:cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
