.pet-tag {

    width: 60px;
    height: 60px;
    border-radius: 5px 5px 0 0;
    
  

hover {
    cursor: pointer;
}

 img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.6s;
    border-radius: 10px;
  }

img:hover {
    transform: scale(1.3);
  }
}